// Colors

$turquoise-va:#3EA1B2;
$pink-va:#E59CA8;
$sky-va:#3E78B2;
$purple-va:#5B507A;
$gray-va:#555555;
$gray-light-va:#E5E5E5;
$blue-dark-va:#12253C;
$blue-va :#224364;

@font-face {
    font-family: "Lucida Grande Regular";
    src: url("../assets/fonts/LucidaGrande.ttf");
}

@font-face {
    font-family: "Lucida Grande Bold";
    src: url("../assets/fonts/LucidaGrandeBold.ttf");
}

// Fonts Title
$title-font: 'Montserrat';
$base: 'Lucida Grande Regular';