<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/vendors/multiscroll/jquery.multiscroll.css" />
    <link rel="stylesheet" href="../css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../assets/vendors/multiscroll/vendors/jquery.easings.min.js"></script>

    <script type="text/javascript" src="../assets/vendors/multiscroll/jquery.multiscroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#myContainer').multiscroll({

                anchors: ['first', 'second', 'third', 'bot'],
                menu: '#menu',
                loopTop: true,
                loopBottom: true
            });
        });
    </script>
</head>

<body>

    <div id="myContainer" class="text-white h-100 relative">

        <div class="ms-left ">
            <div class="ms-section" style="background:url(../assets/images/prueba1.png); background-position: center center; background-size: cover  ;" id="left1">
                <div class=" absolute pos-link">
                    <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span class="text-link-header-scroll relative">Home</span>
                </div>
                <div class="pl-32 pr-64 pt-136">
                    <h1 class="text-white title-section-categorie">Bot</h1>
                    <p class="text-offer-des pt-32">We designed a chatbot for Papa John's that combines text with visual elements of UI as an interaction method, capable of taking personalized orders from its customers through Facebook Messenger.</p>
                </div>

            </div>

            <div class="ms-section" style="background:url(../assets/images/prueba1.png); background-position: center center; background-size: cover  ;" id="left2">
                <div class=" absolute pos-link">
                    <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span class="text-link-header-scroll relative">Home</span>
                </div>
                <div class="pl-32 pr-64 pt-136">
                    <h1 class="text-white title-section-categorie">UX -UI</h1>
                    <p class="text-offer-des pt-32">We start by thinking in the users and the experience they want to have when interacting with your product, so we can design the best interface to deliver that experience.</p>
                </div>

            </div>

            <div class="ms-section" style="background:url(../assets/images/prueba1.png); background-position: center center; background-size: cover  ;" id="left3">
                <div class=" absolute pos-link">
                    <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span class="text-link-header-scroll relative">Home</span>
                </div>
                <div class="pl-32 pr-64 pt-136">
                    <h1 class="text-white title-section-categorie">Big Data</h1>
                    <p class="text-offer-des pt-32">We use Big Data to offer real-time information that contributes to the benefit of our customers.</p>
                </div>

            </div>
            <div class="ms-section" style="background:url(../assets/images/prueba1.png); background-position: center center; background-size: cover  ;" id="left4">
                <div class=" absolute pos-link">
                    <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span class="text-link-header-scroll relative">Home</span>
                </div>
                <div class="pl-32 pr-64 pt-136">
                    <h1 class="text-white title-section-categorie">Cloud</h1>
                    <p class="text-offer-des pt-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in a viverra nulla vel, et scelerisque .</p>
                </div>

            </div>
        </div>

        <div class="ms-right">
            <div class="ms-section" style="background:url(../assets/images/prueba2.png);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right1">
                <div></div>
                <div class="absolute position-link-blog"><span class="text-link-header relative">Visit our blog</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span></div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>
            </div>

            <div class="ms-section" style="background:url(../assets/images/prueba2.png);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right2">
                <div class="pl-64 pr-32 pd-perce">
                    <p class="text-offer-des ">We use lean methodologies to accomplish this. Our goal is to deliver fast and reliable user interface design for web applications, mobile solutions, and other user-focused products.</p>
                </div>
                <div class="absolute position-link-blog"><span class="text-link-header relative">Visit our blog</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span></div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>

            </div>

            <div class="ms-section" style="background:url(../assets/images/prueba2.png);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right3">

                <div class="pl-64 pr-32 pd-perce">
                    <p class="text-offer-des ">Analyzing the data patterns we managed to predict the behaviors and needs of the users, and provide them with a better experience.</p>
                </div>
                <div class="absolute position-link-blog"><span class="text-link-header relative">Visit our blog</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span></div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>
            </div>
            <div class="ms-section" style="background:url(../assets/images/prueba2.png);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right4">

                <div class="pl-64 pr-32 pd-perce">
                    <p class="text-offer-des ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in a viverra nulla vel, et scelerisque. </p>
                </div>
                <div class="absolute position-link-blog"><span class="text-link-header relative">Visit our blog</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span></div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>
            </div>

        </div>

    </div>

</body>

</html>