<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Von Allem</title>
</head>

<body>
    <div class="hide-desktop" id="slider">
        <div>
            <div class="slide-1c bg-slide relative">
                <div class=" absolute pos-link">
                    <a href="../index.html">
                        <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span
                            class="text-link-header-scroll relative">Home</span>
                    </a>
                </div>
                <div class="pl-32 pr-32 pt-88">
                    <h1 class="text-white title-section">Bot</h1>
                    <p class="text-offer-mob text-white pt-32">We designed a chatbot for Papa John's that combines text
                        with visual elements of UI as an interaction method, capable of taking personalized orders from
                        its customers through Facebook Messenger.</p>
                </div>
                <div class="absolute position-link-slider"><span
                        class="text-link-header relative">UX/UI</span><span><img class="transform-img"
                            src="../assets/images/arrow.png" alt=""></span>
                </div>
            </div>
            <div class="slide-2c bg-slide relative">
                <div class=" absolute pos-link">
                    <a href="../index.html">
                        <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span
                            class="text-link-header-scroll relative">Home</span>
                    </a>
                </div>
                <div class="pl-32 pr-32 pt-88">
                    <h1 class="text-white title-section">UX-UI</h1>
                    <p class="text-offer-mob text-white pt-32">We start by thinking in the users and the experience they
                        want to have when interacting with your product, so we can design the best interface to deliver
                        that experience.</p>
                    <p class="text-offer-mob text-white">We use lean methodologies to accomplish this. Our goal is to
                        deliver fast and reliable user interface design for web applications, mobile solutions, and
                        other user-focused products.</p>
                </div>
                <div class="absolute position-link-slider"><span class="text-link-header relative">Big
                        Data</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span>
                </div>
            </div>
            <div class="slide-3c bg-slide relative">
                <div class=" absolute pos-link">
                    <a href="../index.html">
                        <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span
                            class="text-link-header-scroll relative">Home</span>
                    </a>
                </div>
                <div class="pl-32 pr-32 pt-88">
                    <h1 class="text-white title-section">Big Data</h1>
                    <p class="text-offer-mob text-white pt-32">We use Big Data to offer real-time information that
                        contributes to the benefit of our customers.</p>
                    <p class="text-offer-mob text-white">Analyzing the data patterns we managed to predict the behaviors
                        and needs of the users, and provide them with a better experience.</p>
                </div>
                <div class="absolute position-link-slider"><span
                        class="text-link-header relative">Cloud</span><span><img class="transform-img"
                            src="../assets/images/arrow.png" alt=""></span>
                </div>
            </div>
            <div class="slide-4c bg-slide relative">
                <div class=" absolute pos-link">
                    <a href="../index.html">
                        <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span
                            class="text-link-header-scroll relative">Home</span>
                    </a>
                </div>
                <div class="pl-32 pr-32 pt-88">
                    <h1 class="text-white title-section">Cloud</h1>
                    <p class="text-offer-mob text-white pt-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Scelerisque in a viverra nulla vel, et scelerisque. </p>
                    <p class="text-offer-mob text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Scelerisque in a viverra nulla vel, et scelerisque. </p>
                </div>
                <div class="absolute position-link-slider"><span
                        class="text-link-header relative">Serverless</span><span><img class="transform-img"
                            src="../assets/images/arrow.png" alt=""></span>
                </div>
            </div>
            <div class="slide-5c bg-slide relative">
                <div class=" absolute pos-link">
                    <a href="../index.html">
                        <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span
                            class="text-link-header-scroll relative">Home</span>
                    </a>
                </div>
                <div class="pl-32 pr-32 pt-88">
                    <h1 class="text-white title-section">Serverless</h1>
                    <p class="text-offer-mob text-white pt-32">The maximum level within the computing services can be
                        reached with Serverless. It gives us the ability to host our code or application and to execute
                        it when certain events occur, without the need to manage any servers.
                    </p>
                    <p class="text-offer-mob text-white">The service will automatically scale to suit the demand. In
                        addition, it allows you to pay based on the resources consumed. </p>
                </div>
                <div class="absolute position-link-slider"><span
                        class="text-link-header relative">DevOps</span><span><img class="transform-img"
                            src="../assets/images/arrow.png" alt=""></span>
                </div>

            </div>
            <div class="slide-6c bg-slide relative">
                <div class=" absolute pos-link">
                    <a href="../index.html">
                        <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span
                            class="text-link-header-scroll relative">Home</span>
                    </a>
                </div>
                <div class="pl-32 pr-32 pt-88">
                    <h1 class="text-white title-section">DevOps</h1>
                    <p class="text-offer-mob text-white pt-32">We use DevOps to provide greater business value and
                        responsiveness by streamlining the processes through which an idea passes from its development
                        to its implementation.
                    </p>
                    <p class="text-offer-mob text-white">It involves using scalability and automation, as well as
                        greater use of dynamic infrastructure. </p>
                </div>
                <div class="absolute position-link-slider"><span class="text-link-header relative">Visit our
                        blog</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span>
                </div>

            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery.swipeSlider.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>