<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>Von Allem</title>
</head>

<body>
    <header>
        <div class="burger-menu burger-menu-js flex-center">
            <div class=" align-menu">
                <div class="menu-h "></div>
                <div class="menu-h "></div>
                <div class="menu-h"></div>
            </div>
        </div>

    </header>
    <section class="bg-blue bg-menu hide-menu   relative menu-section">
        <img class="absolute logo-position" src="../assets/images/va-opacity.svg" alt="va-opacity">
        <div class="burger-menu-close burger-menu-close-js absolute  flex-center">
            <div class=" align-menu-c">
                <div class="menu-c "></div>

                <div class="menu-c"></div>
            </div>
        </div>


        <div class="grid-menu">
            <div class="pt-16 pb-16 "><a href="../index.html" class="title-menu">Home</a></div>
            <div class="pt-16 pb-16 "><a href="categories.html" class="title-menu">Our Services</a></div>
            <div class="pt-16 pb-16 "><a href="blog.html" class="title-menu">Blog</a></div>
            <div class="pt-16 pb-16 "><a href="contact.html" class="title-menu">Contact us</a></div>
        </div>



    </section>
    <section>
        <nav class="header-blog relative">
            <a href="blog.html">
                <div class="absolute pos-link">
                    <span><img src="../assets/images/arrow.png" alt="arrow"></span> <span class="text-link-header relative">Blog</span>
                </div>
                <p class="title-category">Blog</p>
            </a>
        </nav>
        <div class="pl-32 pr-32 pt-32 grid-contain-blog">
            <div class="grid-filter">
                <div>
                    <span class="title-category-filter">Categorie</span>
                </div>
                <div class="text-right">
                    <span class="text-bold">Jan,01</span>
                </div>

            </div>


        </div>
        <div class="pr-32 pl-32 pt-32 pb-32 grid-contain-blog">
            <figure>
                <img class="img-post-selected" src="../assets/images/research.jpg" alt="photo-post">
            </figure>
            <div class="mt-32 mb-32 text-general">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, iusto. Harum culpa assumenda voluptates quibusdam minima molestiae, rerum nulla inventore, nesciunt ratione ad quisquam consequuntur quo nemo. Quisquam, labore magnam.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis quasi eligendi autem corrupti fugiat aliquam, provident neque unde magni, explicabo accusamus animi debitis voluptas nulla at inventore voluptate eaque.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente commodi aliquid facilis voluptatibus possimus a quo dignissimos fuga maiores ipsum accusamus temporibus voluptates alias esse, odit fugit architecto laborum.</p>
            </div>
            <div class="share-social-grid">
                <div class="text-general">Share</div>
                <div class="social-circle social-fb"><i class="fab fa-facebook-f"></i></div>
                <div class="social-circle social-tw"><i class="fab fa-twitter"></i></div>
                <div class="social-circle social-p"><i class="fab fa-pinterest-p"></i></div>
                <div class="social-circle social-g"><i class="fab fa-google-plus-g"></i></div>
            </div>
            <div class="pagination-post-grid mt-32 mb-32 text-general">
                <div>
                    <p class="text-bold">Lorem ipsum dolor sit amet</p>
                    <p class="mt-8">Post anterior</p>
                </div>
                <div class="text-right">
                    <p class="text-bold">Lorem ipsum dolor sit amet</p>
                    <p class="mt-8">Siguiente post</p>
                </div>
            </div>
            <div class="container--comments">
                <h4 class="text-bold mb-16">Comments</h4>
                <div>
                    <div class="comment comment-grid">
                        <div>
                            <img class="img-radius" src="../assets/images/user.jpg " alt="user ">
                        </div>
                        <div>
                            <div class="text-general">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, blanditiis facilis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, blanditiis facilis.
                                </p>
                            </div>
                            <div class="text-general">
                                <div class="mt-8"><span class=" text-bold">Fernando Diaz</span> <span>Jan-18</span> </div>
                                <div class="mt-8"><span class="text-bold ">REPLY</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="hide-mobile">
            <div class="ft-blog"></div>
            <div class="grid-contact-blog ">
                <div class="fb-section pl-32 pt-16 pb-16 pr-16">
                    <p class="title-category-filter mb-16 ">Facebook</p>
                    <div class="grid-fb mb-16 ">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="relative">
                        <span><img class="img-ink" src="../assets/images/link.png" alt="linkedin"></span><span class=" text-blue-va text-in">/Von Allem</span>
                    </div>
                </div>
                <div class="text-center pb-32 flex-center">
                    <div class="">
                        <img class="pt-32 pb-32" src="../assets/images/mail.png" alt="mail">
                        <p class="text-contact ">
                            Say Hello to:

                        </p>
                        <p class="text-center">hola@vonallem.la</p>
                    </div>

                </div>
                <div class="text-center box-location pb-32 flex-center">
                    <div class="">
                        <img class="pt-32 pb-32" src="../assets/images/location.png" alt="mail">
                        <p class="text-contact text-center">
                            Find us in:
                        </p>
                        <p>Av. Caminos del Inca 2416 -Dpto. 302 <br> Surco</p>
                    </div>

                </div>
                <div class=" text-center pb-32 flex-center">
                    <div class="">
                        <img class="pt-32 pb-32 " src="../assets/images/call.png " alt="mail ">
                        <p class="text-contact text-center ">
                            We have Whatsapp: <br> <span class="text-bold">Clic here!</span>
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>