<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Von Allem</title>
    <link rel="stylesheet" type="text/css" href="../assets/vendors/multiscroll/jquery.multiscroll.css" />
    <link rel="stylesheet" href="../css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../assets/vendors/multiscroll/vendors/jquery.easings.min.js"></script>

    <script type="text/javascript" src="../assets/vendors/multiscroll/jquery.multiscroll.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#myContainer').multiscroll({

                anchors: ['bot', 'uxui', 'bigdata', 'cloud'],
                menu: '#menu',
                loopTop: false,
                loopBottom: false
            });
        });
    </script>
</head>

<body>
    <header>
        <div class="burger-menu burger-menu-js flex-center">
            <div class=" align-menu">
                <div class="menu-h "></div>
                <div class="menu-h "></div>
                <div class="menu-h"></div>
            </div>
        </div>

    </header>
    <section class="bg-blue bg-menu hide-menu   relative menu-section">
        <img class="absolute logo-position" src="../assets/images/va-opacity.svg" alt="va-opacity">
        <div class="burger-menu-close burger-menu-close-js absolute  flex-center">
            <div class=" align-menu-c">
                <div class="menu-c "></div>

                <div class="menu-c"></div>
            </div>
        </div>


        <div class="grid-menu">
            <div class="pt-16 pb-16 "><a href="../index.html" class="title-menu">Home</a></div>
            <div class="pt-16 pb-16 "><a class="title-menu">Our Services</a></div>
            <div class="pt-16 pb-16 "><a href="blog.html" class="title-menu">Blog</a></div>
            <div class="pt-16 pb-16 "><a href="contact.html" class="title-menu">Contact us</a></div>
        </div>



    </section>

    <div class="box-direct-contact grid-direct-contact hide-mobile fixed box-contact-blog">
        <div class="pointer"><img src="../assets/images/call.png" alt=""></div>
        <div class="dashed-bot line">- - - - - - - </div>
        <div class="pointer"><img src="../assets/images/mail.png" alt=""></div>
    </div>
    <div id="myContainer" class="text-white  h-100 relative">

        <div class="ms-left ">
            <div class="ms-section" style="background:linear-gradient(90.39deg, #12253C 0.53%, rgba(196, 196, 196, 0) 105.73%),url(../assets/images/break-images/research-l.jpg); background-position: center center; background-size: cover  ;" id="left1">

                <div class="pl-32 pr-64 position-text-we-do">
                    <h1 class="text-white title-section-categorie">We research</h1>
                    <p class="text-offer-des pt-32">To discover insights and design proposals that add value to your brand and generate memorable experiences.
                    </p>
                </div>

            </div>

            <div class="ms-section" style="background:linear-gradient(90.39deg, #12253C 0.53%, rgba(196, 196, 196, 0) 105.73%),url(../assets/images/break-images/ideate-l.jpg); background-position: center center; background-size: cover  ;" id="left2">

                <div class="pl-32 pr-64 position-text-we-do">
                    <h1 class="text-white title-section-categorie">We ideate</h1>
                    <p class="text-offer-des pt-32">Using creativity and innovation to develop solutions that meet the needs of users.
                    </p>
                </div>

            </div>

            <div class="ms-section" style="background:linear-gradient(90.39deg, #12253C 0.53%, rgba(196, 196, 196, 0) 105.73%),url(../assets/images/break-images/prototype-l.jpg); background-position: center center; background-size: cover  ;" id="left3">

                <div class="pl-32 pr-64 position-text-we-do">
                    <h1 class="text-white title-section-categorie">We prototipe</h1>
                    <p class="text-offer-des pt-32">To discover how users interact with the product and find areas for improvement.</p>
                </div>

            </div>
            <div class="ms-section" style="background:linear-gradient(90.39deg, #12253C 0.53%, rgba(196, 196, 196, 0) 105.73%),url(../assets/images/break-images/create-l.jpg); background-position: center center; background-size: cover  ;" id="left4">

                <div class="pl-32 pr-64 position-text-we-do">
                    <h1 class="text-white title-section-categorie">We create</h1>
                    <p class="text-offer-des pt-32">Bringing to reality what the user needs through agile methodologies.</p>
                </div>

            </div>

        </div>

        <div class="ms-right">
            <div class="ms-section" style="background:url(../assets/images/break-images/research-r.jpg);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right1">

                <div class="absolute position-link-blog"><span class="text-link-header relative">Skip</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span>
                </div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>
            </div>

            <div class="ms-section" style="background:url(../assets/images/break-images/ideate-r.jpg);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right2">

                <div class="absolute position-link-blog"><span class="text-link-header relative">Skip</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span>
                </div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>

            </div>

            <div class="ms-section" style="background:url(../assets/images/break-images/prototype-r.jpg);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right3">

                <div class="absolute position-link-blog"><span class="text-link-header relative">Skip</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span>
                </div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>
            </div>
            <div class="ms-section" style="background:url(../assets/images/break-images/create-r.jpg);  background-position: center center; background-size: cover ; border-left: 1px solid white; position: relative;" id="right4">


                <div class="absolute position-link-blog"><span class="text-link-header relative">Skip</span><span><img class="transform-img" src="../assets/images/arrow.png" alt=""></span>
                </div>
                <div class="absolute arrow-down">
                    <img src="../assets/images/down.png" alt="">
                </div>
            </div>


        </div>

    </div>
    <script src="../js/app.js"></script>
</body>

</html>