// cards section
.bg-card-categories {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 242px;
}

.bot-img {
    background-image: url(../assets/images/devops-min.jpg);
}

.ux-img {
    background-image: url(../assets/images/devops-min.jpg);
}

.bigdata-img {
    background-image: url(../assets/images/devops-min.jpg);
}

.cloud-img {
    background-image: url(../assets/images/devops-min.jpg);
}

.server-img {
    background-image: url(../assets/images/devops-min.jpg);
}

.devops-img {
    background-image: url(../assets/images/devops-min.jpg);
}

.bg-card-opacity {
    background: rgba(0, 0, 0, 0.5);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-blog {
    background: white;
    height: auto;
    .card-blog--content {
        height: auto;
        padding: 1.8em;
        .title-section-card {
            @include mx-title-section;
            font-weight: bold;
            font-size: 24px;
        }
    }
}