.input-form-contact {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    color: white;
    padding: 5px;
}

.container-form {
    width: 100%;
}

.pos-footer {
    bottom: 32px;
}

.step-select {
    background: $blue-va;
    color: white;
}