.bg-initial-video {
    height: 100vh;
}

.object-cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-blue {
    height: 100vh;
    width: 100%;
    background: $blue-dark-va;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-blog {
    background-image: url(../assets/images/devops-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 2em;
    display: flex;
    align-items: flex-end;
    @media screen and (min-width: 768px) {
        height: auto;
    }
}

.bg-blog-post {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    .card-blog--content {
        padding: 1em;
    }
    .text-card-blog {
        color: #555555;
    }
}

.bg-process {
    background-image: url(../assets/images/devops-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: white;
    box-sizing: border-box;
    .bg-process--opacity {
        height: inherit;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: flex-end;
        h3 {
            @include mx-title-process;
            font-size: 36px;
            font-weight: bold;
        }
        .description-process {
            @include mx-title-process;
            font-size: 16px;
            padding-bottom: 2em;
            line-height: 20px;
        }
    }
    .bg-process-contain {
        padding: 2em;
    }
}

.bg-steps {
    background-color: white;
    color: $blue-va;
    padding: 10px 0;
    border: 1px solid $blue-va;
}

// Blog
.header-blog {
    height: 20vh;
    background-image: url(../assets/images/blog.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
        height: 30vh;
    }
    .title-category {
        @media screen and (min-width: 768px) {
            font-size: 64px;
        }
    }
}

.header-blog-principal {
    @media screen and (min-width: 768px) {
        height: 45vh;
    }
    .title-category {
        @media screen and (min-width: 768px) {
            font-size: 64px;
        }
    }
}

.contain-blog {
    overflow: hidden;
}

.img-post {
    height: 639px;
}

.img-radius {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    @media screen and (min-width: 768px) {
        width: 79px;
        height: 79px;
    }
}

.img-post-selected {
    width: 100%;
}

.pagination-blog {
    float: right;
}

.social-circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-blog {
    width: 100%;
    height: 1px;
    border-top: 1px solid $blue-dark-va;
    opacity: 0.4;
}

.box-location {
    @media screen and (min-width: 768px) {
        overflow: hidden;
        position: relative;
        padding: 0 2em 2em 2em;
        &:before {
            content: "";
            border-left: 4px dashed rgba(18, 37, 60, 0.486);
            border-right: 4px dashed rgba(18, 37, 60, 0.486);
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
        }
    }
}

.box-location-r {
    padding: 0 2em 2em 2em;
}

.dashed-l {
    @media screen and (min-width: 768px) {
        overflow: hidden;
        position: relative;
        padding: 0 2em 2em 2em;
        &:before {
            content: "";
            border-left: 4px dashed rgba(18, 37, 60, 0.486);
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
        }
    }
}

.dashed-bot {
    @media screen and (min-width: 768px) {
        overflow: hidden;
        position: relative;
        &:before {
            content: "";
            border-bottom: 4px dashed rgba(18, 37, 60, 0.486);
            position: absolute;
            top: -3px;
            bottom: -3px;
            left: -3px;
            right: -3px;
        }
    }
}

.img-ink {
    width: 30px;
    position: relative;
    top: -3px;
}

.social-fb {
    background: #3b5998;
}

.social-tw {
    background: #00acee;
}

.social-p {
    background: #c8232c;
}

.social-g {
    background: #dd4b39;
}

.comment {
    background: hsl(0, 8%, 95%);
    padding: 1em;
}

.hide-mobile {
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}

.hide-desktop {
    @media screen and (min-width: 768px) {
        display: none !important;
    }
}

.header-section {
    height: 15vh;
}

// footer-desk
.footer-header {
    height: 15vh;
}

.footer-h {
    @media screen and (min-width: 768px) {
        height: 84vh;
    }
}

.find-section {
    @media screen and (min-width: 768px) {
        height: 100vh;
    }
}

.transform-img {
    transform: rotate(-180deg);
}

// Menu
.burger-menu {
    width: 60px;
    height: 60px;
    background-color: $blue-va;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    top: 16px;
    right: 16px;
}

.align-menu {
    width: 100%;
    & :nth-child(1) {
        text-align: right;
        margin-bottom: 12px;
        width: 29px;
        margin-left: 37%;
    }
    & :nth-child(2) {
        margin-bottom: 12px;
    }
    & :nth-child(3) {
        width: 29px;
    }
}

.menu-h {
    height: 4px;
    background-color: white;
    border-radius: 2px;
}