.ms-tableCell {
    vertical-align: top;
}

.h-100 {
    height: 100%;
}

.fixed {
    position: fixed;
}

.text-link-header-scroll {
    color: white;
    top: -3px;
    font-size: 20px;
}

.position-link-blog {
    bottom: 54px;
    right: 32px;
    cursor: pointer;
    .text-link-header {
        top: 3px;
        font-size: 20px;
    }
}

.pd-perce {
    padding-top: 65%;
}

.arrow-r {
    top: 50%;
    transform: translateX(-50%);
    right: 16px;
    animation: srollRight 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes srollRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}

// Arrow Down
.arrow-down {
    left: 0px;
    top: 88%;
    animation: scrollDown 1.5s infinite cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}

// SLider Horizontal
.fp-tableCell {
    vertical-align: top;
}

.position-link-slider {
    bottom: 32px;
    right: 32px;
    .text-link-header {
        top: 5px;
    }
}

// 
.ss-slider {
    height: 100%;
    overflow: hidden;
}

.ss-slider>.ss-slides {
    height: 100%;
    overflow: hidden;
    user-select: none;
    width: 100%;
}

.ss-slider>.ss-slides>.ss-slide {
    float: left;
    height: 85vh;
    overflow: hidden;
    position: relative;
}

@mixin positionbg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-1 {
    background: linear-gradient(90.71deg, rgba(18, 37, 60, 0.8) 0.49%, rgba(196, 196, 196, 0) 104.18%), url(../assets/images/research.jpg);
    @include positionbg();
}

.slide-2 {
    background: linear-gradient(90.71deg, rgba(18, 37, 60, 0.8) 0.49%, rgba(196, 196, 196, 0) 104.18%), url(../assets/images/ideate.jpg);
    @include positionbg();
}

.slide-3 {
    background: linear-gradient(90.71deg, rgba(18, 37, 60, 0.8) 0.49%, rgba(196, 196, 196, 0) 104.18%), url(../assets/images/prototype.jpg);
    @include positionbg();
}

.slide-4 {
    background: linear-gradient(90.71deg, rgba(18, 37, 60, 0.8) 0.49%, rgba(196, 196, 196, 0) 104.18%), url(../assets/images/create.jpg);
    @include positionbg();
}

// Categories

.slide-1c{
    background: linear-gradient(rgba(18, 37, 60, 0.8), rgba(18, 37, 60, 0.8)), url(../assets/images/bot.jpg);
    @include positionbg();
    height: 100vh !important;
}

.slide-2c{
    background: linear-gradient(rgba(18, 37, 60, 0.8), rgba(18, 37, 60, 0.8)), url(../assets/images/uxui.jpg);
    @include positionbg();
    height: 100vh !important;
}

.slide-3c{
    background: linear-gradient(rgba(18, 37, 60, 0.8), rgba(18, 37, 60, 0.8)), url(../assets/images/bigdata.jpg);
    @include positionbg();
    background-position: 5% center;
    height: 100vh !important;
}

.slide-4c{
    background: linear-gradient(rgba(18, 37, 60, 0.8), rgba(18, 37, 60, 0.8)), url(../assets/images/cloud.jpg);
    @include positionbg();
 
    height: 100vh !important;
}

.slide-5c{
    background: linear-gradient(rgba(18, 37, 60, 0.8), rgba(18, 37, 60, 0.8)), url(../assets/images/serverless.jpg);
    @include positionbg();
 
    height: 100vh !important;
}
.slide-6c{
    background: linear-gradient(rgba(18, 37, 60, 0.8), rgba(18, 37, 60, 0.8)), url(../assets/images/devops.jpg);
    @include positionbg();
 
    height: 100vh !important;
}